.page-container {
    display: flex;
    flex-direction: column;
    margin-top: 20%; /* Adjust margin to match the spacing */
    margin-right: 20%; /* Adjust margin to match the spacing */
    margin-left: 20%; /* Adjust margin to match the spacing */

  }
  
  .header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px; /* Adjust margin to match the spacing */
  }
  
  
  
  /* Style for the select component */
  .mat-form-field {
    width: 100%;
  }
  
  .mat-select {
    width: 100%;
  }
  