<div class="container mt-5 pt-4 custom-container">
  <div class="card border-0 custom-card">
    <div class="card-body p-4">
      <div class="d-flex justify-content-between align-items-center">
        <h5>{{ offre.title }}</h5>
        <button class="btn custom-button" aria-label="Ajouter aux favoris" (click)="addToFavorites()" title="Add to favorites">
          <i class="fa fa-heart"></i>
        </button>
        <button class="btn custom-button" (click)="openEvaluationDialog()" title="Evaluate Offer">
          <i class="fa fa-star"></i> Evaluate the offer
        </button>
        
        
      </div>
      <div class="mt-3">
        <span class="badge rounded-pill bg-primary">{{ offre.contratType }}</span>
        <span class="text-muted"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ offre.location }}</span>
      </div>
      <hr>
      <div>
        <p><strong>Reference:</strong> {{ offre.reference }}</p>
        <p><strong>Description:</strong> {{ offre.description }}</p>
        <p><strong>Deadline:</strong> {{ offre.deadline }}</p>
        <p><strong>Skills:</strong> {{ offre.skills }}</p>
        <p><strong>Experience Level:</strong> {{ offre.experienceLevel }}</p>
      </div>
      <div class="button-group mt-4">
        <button class="btn custom-button" data-toggle="tooltip" title="Apply">
          <i class="fa fa-check-circle"></i>
        </button>
        <button class="btn custom-button" (click)="openEditPopup()" data-toggle="tooltip" title="Edit Offer">
          <i class="fa fa-edit"></i>
        </button>
        <button *ngIf="offre" class="btn custom-button" (click)="deleteOffer(offre.reference)" data-toggle="tooltip" title="Delete">
          <i class="fa fa-trash text-danger"></i>
        </button>
        <button class="btn custom-button retour" (click)="goBack()" data-toggle="tooltip" title="Return">
          <i class="fa fa-arrow-left"></i>
        </button>
         <!-- Share Button -->
         <div class="share-button btn-group">
          <div class="share-button" (click)="toggleShareDropdown()">
            <button type="button" class="btn custom-button" aria-label="Share">
              <i class="fa fa-share-alt"></i> Share
            </button>
            <div class="dropdown-menu" [ngClass]="{ 'show': isShareDropdownOpen }">
              <button class="dropdown-item" (click)="shareOnFacebook()">
                <i class="fab fa-facebook" style="color: #3b5998;"></i> Facebook
              </button>
              <button class="dropdown-item" (click)="shareOnTwitter()">
                <i class="fab fa-twitter" style="color: #1da1f2;"></i> Twitter
              </button>
              <button class="dropdown-item" (click)="shareOnLinkedIn()">
                <i class="fab fa-linkedin" style="color: #0077b5;"></i> LinkedIn
              </button>
              <button class="dropdown-item" (click)="shareOnInstagram()">
                <i class="fab fa-instagram" style="color: #c13584;"></i> Instagram
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>