<div class="container">
    <a class="nav-link" routerLink="/admin" id="a" aria-current="page">
    </a>
    <div class="row">
        <div class="col-xs-12" id="information">
            <div class="row" >
                <div class="col-6" id="p">
                    <div class="side" id="information">
                        <ul>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" id="a" data-bs-toggle="dropdown" aria-expanded="false">Items</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                                    <ul class="megamenu dropdown rounded">
                                        <li><a id="a" [routerLink]="['/dashboard/admin/list']">Items List</a></li>
                                        <li><a id="a" [routerLink]="['/dashboard/admin/item']" >Add Item</a></li>
                                    </ul>   
                                </ul>    
                            </li>
                            
                           
                          
                        </ul>
                    </div>                    
                    <div class="col-xs-12" id="content" ngSwitch="">
                        <router-outlet></router-outlet>                
                    </div>
                </div>

            </div>                

        </div>
    </div>
</div>
