<div class="container">
    <div id="canvas-container">
      <button (click)="addRectangle('diamond' , $event)">Ajouter un stand premium</button>
      <button (click)="addRectangle('gold' , $event)">Ajouter un stand vip</button>
      <button (click)="addRectangle('gratuit', $event)">Ajouter un stand gratuit</button>
      <button (click)="addRectangle('porte', $event)">Ajouter l'entrée de l'espace </button>

      <button (click)="submitStandsToDatabase()">Submit Stands</button>
      <canvas id="canvas"></canvas>
    </div>
  
    <div class="selected-info" *ngIf="selectedRectInfo">
      <div class="info-container">
        <p><strong>ID:</strong> {{ selectedRectInfo.id }}</p>
        <p><strong>Type:</strong> {{ selectedRectInfo.type }}</p>
        <p><strong>Prix:</strong> {{ selectedRectInfo.priceStand }}</p>
      </div>
    </div>
  </div>
  