<div class="container">
    <div class="logo">
      <img src="assets/logo-removebg-preview.png" alt="Logo">
    </div>
    <div class="content">
      <h1>LE FORUM PERSPECTIVES</h1>
      <p>
        Bienvenue sur le site du Forum Perspectives. Le Forum Perspectives est le forum de recrutement organisé par l’école Centrale de Lyon et l’école des Mines de Saint-Etienne, deux grandes écoles d’ingénieurs. Cette année, il aura lieu en hybride, avec une partie en présentiel au Centre de Congrès à Lyon le 28 novembre 2023 et une autre partie en ligne sur Seekube les 6 & 7 décembre 2023.
      </p>
      <p>
        Plus de 120 entreprises et 2 000 étudiants de la région lyonnaise participent à cet événement. C’est en effet un lieu de rencontre à la fois pour les étudiants et pour les entreprises. En plus de leur rencontre avec les entreprises sur le forum, les étudiants peuvent participer à des ateliers pour les aider à trouver un stage, des tables rondes avec les entreprises et des conférences.
      </p>
    </div>
  </div>
  