<nav id="my-first">
    <ul>
      <li class="logotype">
        <a routerLink="/"><img src="assets/logo.PNG" alt=""></a>
      </li>
      <li class="burger" (click)="toggleMenu()">
        <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
      </li>
      <li class="menu" [class.is-open]="isMenuOpen">
        <a href="#" class="menu-item">Le Forum</a>
        <a routerLink="/exposant" class="menu-item">Les Exposants</a>
        <a routerLink="/info-pratiques" class="menu-item">Infos Pratique</a>
        <a routerLink="/contact" class="menu-item">Contact</a>
        <a routerLink="/login" class="menu-item">Log In</a>

      </li>
    </ul>
  </nav>
