.card {
    margin-top: 10%;
    margin-bottom: 20px;
    max-width: 300px; /* Adjust the maximum width based on your design */
  }
  
  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover; /* Maintain aspect ratio and cover entire space */
    height: 200px; /* Adjust the height as needed */
  }
  
  .btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: red;
    border: none;
    color: black;
  }
  