<div class="container">
  <h3>Book a Reservation</h3>
  <form [formGroup]="ReservationForm" (ngSubmit)="addItem()" class="form">
    <div id="form-content">
      <input type="email" formControlName="email" placeholder="Email" class="form-control">
      <input type="number" [(ngModel)]="exposant" placeholder="Entrez votre numéro d'exposant" class="form-control">
      
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Select a pack</mat-label>
        <mat-select formControlName="packList" name="packList" [(ngModel)]="selectedPack">
          <mat-option *ngFor="let pack of packList" [value]="pack">
            {{ pack.packType + " " + pack.pricePack }}
          </mat-option>
        </mat-select> 
        <mat-error *ngIf="ReservationForm.get('packList')?.hasError('required')">
          Pack selection is required
        </mat-error>
      </mat-form-field>
      <div class="button-container">
        <button class="btn btn-primary" (click)="stand()">Select Stand</button>
      </div>
    </div>
  </form>
</div>
