<h2 mat-dialog-title>Ajouter une évaluation</h2>
<div mat-dialog-content>
  <p>Choisissez une note :</p>
  <mat-form-field>
    <mat-label>Note</mat-label>
    <mat-select [(ngModel)]="ratingValue" placeholder="Sélectionnez une note">
      <mat-option *ngFor="let i of [1, 2, 3, 4, 5]" [value]="i">{{ i }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Annuler</button>
  <button mat-button color="primary" (click)="onSubmitRating()">Soumettre</button>
</div>
