.card {
    background-color: #f9f9f9;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-top: 50px; 
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    color: #6c757d;
    margin-bottom: 15px;
}

.badge {
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
}

.custom-button {
    margin-top: 70px; /* Adjust as needed */
    margin-right: 10px; /* Add margin between buttons */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px;
    font-size: 16px;
}

.btn-primary {
    background-color: #e6170e; /* Change button color */
    border-color: #e6170e;
    color: #fff;
}

.btn-success {
    background-color: #28a745; /* Change button color */
    border-color: #28a745;
}
.btn-success:hover {
    background-color: #0056b3; /* Change button hover color */
    border-color: #0056b3;
}

.btn-primary:hover {
    background-color: #e73c33; 
    border-color: #e73c33;
}

@media (max-width: 768px) {
    .container {
        margin-top: 50px;
    }
}
