
<h2>COMMENT BIEN SE PRÉPARER AU FORUM PERSPECTIVES ?</h2>
<h3>Le Forum Perspectives c’est l’occasion de faire des rencontres avec des entreprises. C’est maintenant à toi, étudiant, de faire en sorte que ce soit le plus utile possible pour toi et tes projets.</h3>

<div class="timeline">
  <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
    <div class="timeline__event__icon ">
      <i class="lni-cake"></i>
      <div class="timeline__event__date">
        CV

      </div>
    </div>
    <div class="timeline__event__content ">
      <div class="timeline__event__title">
        CV

      </div>
      <div class="timeline__event__description">
        <p>Prends ton CV après l’avoir travaillé (pas de fautes, une forme convenable…)
        </p>
      </div>
    </div>
  </div>
  <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
    <div class="timeline__event__icon">
      <i class="lni-burger"></i>
      <div class="timeline__event__date">
        ENTRETIENS      </div>
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        ENTRETIENS      </div>
      <div class="timeline__event__description">
        <p>Prépare tes entretiens :
        </p>
        <ul>
            <li>Renseigne-toi sur l’entreprise
            </li>
            <li> Définis ce que tu attends de cette entreprise (un stage, un premier emploi, à quel poste…)
            </li> <li>Habille-toi comme il faut pour l’entretien (le costume n’est pas obligatoire mais il n’est pas bienvenu de s’habiller trop détendu)
            </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
    <div class="timeline__event__icon">
      <i class="lni-slim"></i>
      <div class="timeline__event__date">
        LINKEDIN
    </div>
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        LINKEDIN

      </div>
      <div class="timeline__event__description">
        <p>T’inscrire sur Linkedin serait un bon moyen de garder un contact facile avec les entreprises et construire ton réseau.
        </p>
      </div>

    </div>
  </div>
  

</div>